<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>ISUxi</title>
</head>

<body class="container">
<h1 class="jumbotron"><a href="/">ISUxiへようこそ!</a></h1>

<h2>{{ .Owner.NickName }}さんの日記</h2>
{{ if .Myself }}
<div class="row" id="entry-post-form">
  <form method="POST" action="/diary/entry">
    <div class="col-md-4 input-group">
      <span class="input-group-addon">タイトル</span>
      <input type="text" name="title" />
    </div>
    <div class="col-md-4 input-group">
      <span class="input-group-addon">本文</span>
      <textarea name="content" ></textarea>
    </div>
    <div class="col-md-2 input-group">
      <span class="input-group-addon">
        友だちのみに限定<input type="checkbox" name="private" />
      </span>
    </div>
    <div class="col-md-1 input-group">
      <input class="btn btn-default" type="submit" value="送信" />
    </div>
  </form>
</div>
{{ end }}

{{ .Entries }}
</body>
</html>
